<!doctype html><html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

    <title>Node-RED UI Builder: SVG Test</title>
    <meta name="description" content="Node-RED UI Builder - SVG Test with VueJS + bootstrap-vue">

    <link rel="icon" href="./images/node-blue.ico">

    <link type="text/css" rel="stylesheet" href="../uibuilder/vendor/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="../uibuilder/vendor/bootstrap-vue/dist/bootstrap-vue.css" />
    
    <link rel="stylesheet" href="./index.css" media="all">

</head>

<body>

    <!-- load fa icons -->
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->
    <!-- load ALL fa.x icons using developer account with unique code at end of src below "/c..." -->
    <script src="https://kit.fontawesome.com/[paste youe own unique free-license key here]"></script>
    
    <!-- This is where the output from the Vue #app is displayed -->
    <b-container id="app" style="color: #c2c2c2" >

    <!-- ****************** HEADER AND SIDEBAR ****************** -->
    <template>
    <div class="header-card" style="position:absolute; width: 1920px; left:0px;  top:0px;">
            <div style="position:absolute; width: 1000px; left:65px; top:10px" class="card-text">GROUND FLOOR PLAN</div>    
            <div style="position:absolute; left:30px;  top:10px" >  <i class="fa fa-bars" aria-hidden="false" style="color:#ffffff; font-size:22px;"> </i>  </div>
            <button class="btn btn-default" v-b-toggle.sidebar-footer>.</button>   
            
            <b-sidebar class="my-sidebar" id="sidebar-footer" no-header>
                <template v-slot:footer="{ hide }">
                <b-button  class="sidebar-close-button" @click="hide">Close</b-button>
                </template>


            </b-sidebar>
    
    </div>
    </template>

    

    <!-- ****************** FLOORPLAN IMAGE ****************** -->
    <template>
        <div id="floorplan" style="position:relative; left: -272px; width: 1720px; top:66px; height:34em; background:url(./images/groundfloor.PNG);">

            <div style="position:absolute; left:1490px; top:450px; color:#dbdbdb; font-size:85%;"> <p> Kitchen Landing </p></div>
            <div style="position:absolute; left:125px; top:450px; color:#dbdbdb; font-size:85%;"> <p> Garden Bath </p></div>

            <div style="position:absolute; left:1570px; top:255px; color:#dbdbdb; font-size:85%;"> <p> Kitchen WC </p></div>
            
            <div style="position:absolute; left:1425px; top:15px; color:#dbdbdb; font-size:85%;"> <p> Courtyard</p></div>
            <div style="position:absolute; left:1000px; top:15px; color:#dbdbdb; font-size:85%;"> <p> Kitchen</p></div>
            <div style="position:absolute; left:500px; top:15px; color:#dbdbdb; font-size:85%;"> <p> Garden</p></div>
            <div style="position:absolute; left:165px; top:15px; color:#dbdbdb; font-size:85%;"> <p> Garden Room</p></div>


            <!-- ********************************************* KITCHEN *************************************** -->
            <!-- ****************** LED SPOT LIGHTS ****************** Kit Cabinet -->
            <div style="position:absolute; left:var(--kitcabinet_left);                               top:var(--kitcabinet_top)" >  <i id="kitcabinet" class="fa fa-circle" aria-hidden="false" > </i></div>
            <div style="position:absolute; left:calc(var(--kitcabinet_left) + var(--button_adj));     top:var(--kitcabinet_top)" >  <button class="btn btn-primary-outline" v-on:click="clickLight('kitcabinet')" v-b-popover.focus.top="'Kitchen Cabinet 8x'"></button></div>
            <div style="position:absolute; left:calc(var(--kitcabinet_left) + var(--value_adj));      top:var(--kitcabinet_top)"   class="light_brightness" > {{light_lookup_localname('kitcabinet').brightness_value}} </div>
          
            <!-- ****************** LED SPOT LIGHTS ****************** Kit Lounge-->
            <div style="position:absolute; left:1200px;  top:204px" >  <i id="kitlounge" class="fa fa-circle" aria-hidden="false"></i></div>
            <div style="position:absolute; left:1198px;  top:202px" >  <button class="btn btn-primary-outline" v-on:click="clickLight('kitlounge')" v-b-popover.focus.top="'Kitchen Lounge 2x'"></button></div>
            <div style="position:absolute; left:1224px;  top:204px;"    class="light_brightness" > {{light_lookup_localname('kitlounge').brightness_value}} </div>
          
            <!-- ****************** LED SPOT LIGHTS ****************** Kit Wall -->
            <div style="position:absolute; left:852px;  top:48px" >  <i id="kitwall" class="fa fa-circle" aria-hidden="false"></i></div>
            <div style="position:absolute; left:844px;  top:46px" >  <button class="btn btn-primary-outline" v-on:click="clickLight('kitwall')" v-b-popover.focus.top="'Kitchen Wall 5x'"></button></div>
            <div style="position:absolute; left:876px;  top:48px;"    class="light_brightness" > {{light_lookup_localname('kitwall').brightness_value}} </div>
           
            <!-- ****************** LED SPOT LIGHTS ****************** Kit Pendant -->
            <div style="position:absolute; left:852px;  top:135px" >  <i id="kitpendant" class="fa fa-circle" aria-hidden="false"></i></div>
            <div style="position:absolute; left:844px;  top:133px" >  <button class="btn btn-primary-outline" v-on:click="clickLight('kitpendant')" v-b-popover.focus.top="'Kitchen Pendant'"></button></div>
            <div style="position:absolute; left:876px;  top:135px;"    class="light_brightness" > {{light_lookup_localname('kitpendant').brightness_value}} </div>
            
            <!-- ****************** LED SPOT LIGHTS ****************** Kit Island -->
            <div style="position:absolute; left:874px;  top:271px" >  <i id="kitisland" class="fa fa-circle" aria-hidden="false"></i></div>
            <div style="position:absolute; left:866px;  top:269px" >  <button class="btn btn-primary-outline" v-on:click="clickLight('kitisland')" v-b-popover.focus.top="'Kitchen Island 4x'"></button></div>
            <div style="position:absolute; left:898px;  top:271px;"    class="light_brightness" > {{light_lookup_localname('kitisland').brightness_value}} </div>
            
            <!-- ****************** LED SPOT LIGHTS ****************** Kit Courtyard-->
            <div style="position:absolute; left:1420px;  top:62px" >  <i id="kitcourtyard" class="fa fa-circle" aria-hidden="false"></i></div>
            <div style="position:absolute; left:1412px;  top:60px" >  <button class="btn btn-primary-outline" v-on:click="clickLight('kitcourtyard')" v-b-popover.focus.top="'Kitchen Courtywar 2x'"></button></div>
            <div style="position:absolute; left:1444px;  top:62px;"    class="light_brightness" > {{light_lookup_localname('kitcourtyard').brightness_value}} </div>


            <!-- ********************************************* KITCHEN *************************************** -->
            <!-- ****************** RGBW LEDS *********************** Kit Skylight -->
            <div style="position:absolute; left:1038px; top:123px; font-size:150%">  <i id="kitskyrgbw" class="skylight far fa-square" aria-hidden="false"></i></div>
            <div style="position:absolute; left:1038px;  top:128px" >  <button class="btn btn-primary-outline" v-on:click="clickLight('kitskyrgbw')" v-b-popover.focus.top="'Kitchen Skylight RGBW'"></button></div>
            <div style="position:absolute; left:1070px;  top:129px"    class="light_brightness" > {{light_lookup_localname('kitskyrgbw').brightness_value}} </div>
            <!--<div style="position:absolute; left:1031px;  top:156px"    class="light_name" > Skylight </div>-->

            <!-- ****************** RGBW LEDS *********************** Kit Edge/Ceiling -->
            <div style="position:absolute; left:1311px;  top:80px; font-size:150%">  <i id="kitedgergbw" class="far fa-square" aria-hidden="false"></i></div>
            <div style="position:absolute; left:1311px;  top:85px" >  <button class="btn btn-primary-outline" v-on:click="clickLight('kitedgergbw')" v-b-popover.focus.top="'Kitchen Edge RGBW'"></button></div>
            <div style="position:absolute; left:1343px;  top:86px;"    class="light_brightness" > {{light_lookup_localname('kitedgergbw').brightness_value}} </div>
            <!--<div style="position:absolute; left:1310px;  top:113px"    class="light_name" > Edge </div>-->
            
            <!-- ****************** RGBW LEDS *********************** Kit Sink -->
            <div style="position:absolute; left:874px;  top:403px; font-size:150%" >  <i id="kitsinkrgbw" class="fa fa-window-minimize" aria-hidden="false"></i></div>
            <div style="position:absolute; left:874px;  top:411px" >  <button class="btn btn-primary-outline" v-on:click="clickLight('kitsinkrgbw')" v-b-popover.focus.top="'Kitchen Sink RGBW'"></button></div>
            <div style="position:absolute; left:906px;  top:416px"    class="light_brightness" > {{light_lookup_localname('kitsinkrgbw').brightness_value}} </div>
            
            <!-- ****************** RGBW LEDS *********************** Kit Island -->
            <div style="position:absolute; left:983px;  top:240px; font-size:150%">  <i id="kitislandrgbw" class="far fa-square" aria-hidden="false"></i></div>
            <div style="position:absolute; left:983px;  top:245px" >  <button class="btn btn-primary-outline" v-on:click="clickLight('kitislandrgbw')" v-b-popover.focus.top="'Kitchen Island RGBW'"></button></div>
            <div style="position:absolute; left:1015px; top:246px;"    class="light_brightness" > {{light_lookup_localname('kitislandrgbw').brightness_value}} </div>

            <!-- ****************** RGBW LEDS *********************** Kit Cabinet -->
            <div style="position:absolute; left:740px;  top:383px; font-size:150%" >  <i id="kitcabinetrgbw" class="fa fa-window-minimize" aria-hidden="false"></i></div>
            <div style="position:absolute; left:740px;  top:391px" >  <button class="btn btn-primary-outline" v-on:click="clickLight('kitcabinetrgbw')" v-b-popover.focus.top="'Kitchen Cabinet RGBW'"></button></div>
            <div style="position:absolute; left:772px;  top:396px;"    class="light_brightness" > {{light_lookup_localname('kitcabinetrgbw').brightness_value}} </div>
            
            <!-- ****************** RGBW LEDS *********************** Kit Drinks Cabinet -->
            <div style="position:absolute; left:1095px;  top:383px; font-size:150%" >  <i id="kitdrinksrgbw" class="fa fa-window-minimize" aria-hidden="false"></i></div>
            <div style="position:absolute; left:1087px;  top:391px" >  <button class="btn btn-primary-outline" v-on:click="clickLight('kitdrinksrgbw')" v-b-popover.focus.top="'Kitchen Drinks Cabinet'"></button></div>
            <div style="position:absolute; left:1127px;  top:396px;"    class="light_brightness" > {{light_lookup_localname('kitdrinksrgbw').brightness_value}} </div>
            



            <!-- ****************** TEMP SENSORS *********************** Kitchen Dining UF -->
            <!-- <div style="position:absolute; left:1213px;  top:317px" >  <i class="fa fa-thermometer-empty" aria-hidden="false"></i></div>
            <div style="position:absolute; left:1228px;  top:320px;"   class="sensors" > {{sensors[0].sensor_value}}C UF</div>
            <div style="position:absolute; left:1228px;  top:335px;"   class="sensors" > {{sensor_lookup('Kitchen/Kit Din UF Temp1').sensor_value}} </div> -->

            <!--  v-on:click="stopPulse()"     class="fa fa-window-minimize fa-pulse"  -->




            <!-- ********************************************* GARDEN *************************************** -->
            <!-- ****************** LED SPOT LIGHTS ****************** Garden Wall -->
            <div style="position:absolute; left:590px;  top:48px" >  <i id="gardenwall" class="fa fa-circle" aria-hidden="false"></i></div>
            <div style="position:absolute; left:582px;  top:46px" >  <button class="btn btn-primary-outline" v-on:click="clickLight('gardenwall')" v-b-popover.focus.top="'Garden Wall'"></button></div>
            <div style="position:absolute; left:614px;  top:48px;"    class="light_brightness" > {{light_lookup_hc2name('Garden/Garden Wall Lights').brightness_value}} </div>
            <!-- ****************** RGBW LEDS *********************** Garden Bench -->
            <div style="position:absolute; left:500px;  top:400px; font-size:150%" >  <i id="gardenbench" class="fa fa-window-minimize" aria-hidden="false"></i></div>
            <div style="position:absolute; left:500px;  top:408px;" >  <button class="btn btn-primary-outline" v-on:click="clickLight('gardenbench')" v-b-popover.focus.top="'Garden Bench'"></button></div>
            <div style="position:absolute; left:532px;  top:413px"    class="light_brightness" > {{light_lookup_localname('gardenbench').brightness_value}} </div>


            <!-- ********************************************* GARDEN ROOM  *************************************** -->
            <!-- ****************** LED SPOT LIGHTS ****************** Garden Room Spots -->
            <div style="position:absolute; left:200px;  top:204px;" >  <i id="groomspot" class="fa fa-circle" aria-hidden="false"></i></div>
            <div style="position:absolute; left:192px;  top:202px;" >  <button class="btn btn-primary-outline" v-on:click="clickLight('groomspot')" v-b-popover.focus.top="'Gardenroom Spots'"></button></div>
            <div style="position:absolute; left:224px;  top:204px"    class="light_brightness" > {{light_lookup_localname('groomspot').brightness_value}} </div>
            <div style="position:absolute; left:196px;  top:226px;"    class="zone_time_left" > {{zone_garden_room_time}} </div>
            <!-- ****************** RGBW LEDS *********************** Garden Room Edge -->
            <div style="position:absolute; left:125px;  top:36px; font-size:150%" >  <i id="groomedgergbw" class="far fa-square" aria-hidden="false"></i></div>
            <div style="position:absolute; left:125px;  top:41px;" >  <button class="btn btn-primary-outline" v-on:click="clickLight('groomedgergbw')" v-b-popover.focus.top="'Gardenroom Edge'"></button></div>
            <div style="position:absolute; left:157px;  top:42px;"    class="light_brightness" > {{light_lookup_localname('groomedgergbw').brightness_value}} </div>


            <!-- ********************************************* GARDEN BATH *************************************** -->
            <!-- ****************** LED SPOT LIGHTS ****************** Garden Bath Spots -->
            <div style="position:absolute; left:139px;  top:400px" >  <i id="gbathspot" class="fa fa-circle" aria-hidden="false"></i></div>
            <div style="position:absolute; left:131px;  top:398px;" >  <button class="btn btn-primary-outline" v-on:click="clickLight('gbathspot')" v-b-popover.focus.top="'Garden Bath Spots'"></button></div>
            <div style="position:absolute; left:163px;  top:400px;"    class="light_brightness" > {{light_lookup_localname('gbathspot').brightness_value}} </div>
            <div style="position:absolute; left:103px;  top:402px;"    class="zone_time_left" > {{zone_garden_bath_time}} </div>
            <!-- ****************** RGBW LEDS *********************** Garden Bath Edge -->
            <div style="position:absolute; left:187px;  top:388px; font-size:150%" >  <i id="gbathedgergbw" class="far fa-square" aria-hidden="false"></i></div>
            <div style="position:absolute; left:187px;  top:393px;" >  <button class="btn btn-primary-outline" v-on:click="clickLight('gbathedgergbw')" v-b-popover.focus.top="'Garden Bath Edge'"></button></div>
            <div style="position:absolute; left:219px;  top:394px;"    class="light_brightness" > {{light_lookup_localname('gbathedgergbw').brightness_value}} </div>
            

            <!-- ********************************************* KITCHEN LANDING *************************************** -->
            <!-- ****************** LED SPOT LIGHTS ****************** Kitchen Corr Spots -->
            <div style="position:absolute; left:1460px;  top:335px" >  <i id="kitcorrspot" class="fa fa-circle" aria-hidden="false"></i></div>
            <div style="position:absolute; left:1452px;  top:333px;" >  <button class="btn btn-primary-outline" v-on:click="clickLight('kitcorrspot')" v-b-popover.focus.top="'Kit Corr Spots'"></button></div>
            <div style="position:absolute; left:1484px;  top:335px;"    class="light_brightness" > {{light_lookup_localname('kitcorrspot').brightness_value}} </div>
            <div style="position:absolute; left:1458px;  top:357px;"    class="zone_time_left" > {{zone_kitchen_landing_time}} </div>
            <!-- ****************** RGBW LEDS *********************** Kitchen Low RGBW -->
            <div style="position:absolute; left:1455px;  top:383px; font-size:150%" >  <i id="kitcorrlowrgbw" class="fa fa-window-minimize" aria-hidden="false"></i></div>
            <div style="position:absolute; left:1455px;  top:391px;" >  <button class="btn btn-primary-outline" v-on:click="clickLight('kitcorrlowrgbw')" v-b-popover.focus.top="'Kit Corr Low RGBW'"></button></div>
            <div style="position:absolute; left:1487px;  top:396px;"    class="light_brightness" > {{light_lookup_localname('kitcorrlowrgbw').brightness_value}} </div>
            <!-- ****************** RGBW LEDS *********************** Kitchen Stairs RGB -->
            <div style="position:absolute; left:1543px;  top:282px; font-size:150%" >  <i id="kitcorrstairs" class="fa fa-window-minimize" aria-hidden="false"></i></div>
            <div style="position:absolute; left:1543px;  top:290px;" >  <button class="btn btn-primary-outline" v-on:click="clickLight('kitcorrstairs')" v-b-popover.focus.top="'Kit Stairs RGB'"></button></div>
            <div style="position:absolute; left:1575px;  top:295px;"    class="light_brightness" > {{light_lookup_localname('kitcorrstairs').brightness_value}} </div>


            <!-- ********************************************* KITCHEN WC *************************************** -->
            <!-- ****************** LED SPOT LIGHTS ****************** Kitchen WC Spots -->
            <div style="position:absolute; left:1465px;  top:219px" >  <i id="kitwcspot" class="fa fa-circle" aria-hidden="false"></i></div>
            <div style="position:absolute; left:1457px;  top:217px" >  <button class="btn btn-primary-outline" v-on:click="clickLight('kitwcspot')" v-b-popover.focus.top="'Kit WC Spots'"></button></div>
            <div style="position:absolute; left:1489px;  top:219px;"    class="light_brightness" > {{light_lookup_localname('kitwcspot').brightness_value}} </div>
            <div style="position:absolute; left:1462px;  top:241px;"    class="zone_time_left" > {{zone_kitchen_wc_time}} </div>
            <!-- ****************** RGBW LEDS *********************** Kitchen WC Edge RGBW -->
            <div style="position:absolute; left:1457px;  top:155px; font-size:150%" >  <i id="kitwcedgergbw" class="far fa-square" aria-hidden="false"></i></div>
            <div style="position:absolute; left:1457px;  top:160px" >  <button class="btn btn-primary-outline" v-on:click="clickLight('kitwcedgergbw')" v-b-popover.focus.top="'Kit WC Edge RGBW'"></button></div>
            <div style="position:absolute; left:1489px;  top:161px;"    class="light_brightness" > {{light_lookup_localname('kitwcedgergbw').brightness_value}} </div>
            
         

            <!-- ****************** LIGHTING SCENES ****************** Kitchen-->
            <!-- <div style="position:absolute; left:775px;  top:248px; font-size:140%" >  <i id="kit_cooking" class="fa fa-desktop" aria-hidden="false"></i></div>-->
            <!-- <div style="position:absolute; left:790px;  top:115px; font-size:140%" >  <i id="kit_cooking" class="fa fa-cutlery" aria-hidden="false"></i></div>-->



            <!-- ****************** TESTING ****************** -->
            <!-- ****************** RGBW LEDS ****************** 
            <div style="position:absolute; left:480px;  top:264px" >  <i id="skylight" class="fa fa-circle" aria-hidden="false" > </i>  </div>
            <div style="position:absolute; left:472px;  top:264px" >  <button class="btn btn-primary-outline" v-on:click="clickLight('skylight')" v-b-popover.focus.top="'Skylight RGBW'"></button> </div>
            <div style="position:absolute; left:500px;  top:266px; font-size: 90%; color: #383737"> {{brightness_skylight}}  </div>-->
            <!-- ****************** LED SPOT LIGHTS ****************** 
            <div style="position:absolute; left:580px;  top:264px" >  <i id="avmain" class="fa fa-circle" aria-hidden="false" > </i>  </div>
            <div style="position:absolute; left:572px;  top:264px" >  <button class="btn btn-primary-outline" v-on:click="clickLight('avmain')" v-b-popover.focus.top="'AV Main'"></button> </div>
            <div style="position:absolute; left:600px;  top:266px; font-size: 90%; color: #383737"> {{brightness_avmain}}  </div>
            <div style="position:absolute; left:680px;  top:264px" >  <i id="avspots" class="fa fa-circle" aria-hidden="false" > </i>  </div>
            <div style="position:absolute; left:672px;  top:264px" >  <button class="btn btn-primary-outline" v-on:click="clickLight('avspots')" v-b-popover.focus.top="'AV Spot2'"></button> </div>
            <div style="position:absolute; left:700px;  top:266px; font-size: 90%; color: #383737"> {{brightness_avspots}}  </div>-->
             <!-- ****************** TESTING ****************** -->

        </div>
    </template>

    
    <!-- ****************** USER SELECTION - AUTOMATED LIGHTING STATUS ****************** -->
    <template id = "automated lighting status" >
        <div class="input-card" style="position:absolute; width:260px; height:350px; left:40px;  top:560px; "> 
            <div class="card-body" 
                style="position:absolute; width:260px; left:15px;  top:-5px; font-size: 100%; color: white;">Auto Lighting Zone Status
                <div style="position:absolute; width:120px; left:3px;  top:60px;" >   <button id="Zone_G_Kitchen"   v-on:click="clickZoneStatus('Zone_G_Kitchen')">  {{zone_lookup_hc2name('Zone_G_Kitchen').zonestatus}}     </button>    </div>
                <div style="position:absolute; width:120px; left:118px; top:60px;" >   Kitchen </div>
                <div style="position:absolute; width:120px; left:3px;  top:100px;" >  <button id="Zone_G_KitCorr"   v-on:click="clickZoneStatus('Zone_G_KitCorr')">  {{zone_lookup_hc2name('Zone_G_KitCorr').zonestatus}}     </button>    </div>
                <div style="position:absolute; width:120px; left:118px; top:100px;" >  Kitchen Landing </div>
                <div style="position:absolute; width:120px; left:3px;  top:140px;" >  <button id="Zone_G_KitWC"     v-on:click="clickZoneStatus('Zone_G_KitWC')">    {{zone_lookup_hc2name('Zone_G_KitWC').zonestatus}}       </button>    </div>      
                <div style="position:absolute; width:120px; left:118px; top:140px;" >  Kitchen WC </div>
                <div style="position:absolute; width:120px; left:3px;  top:180px;" >  <button>                                                                       {{zone_lookup_hc2name('Zone_G_Garden').zonestatus}}      </button>    </div>
                <div style="position:absolute; width:120px; left:118px; top:180px;" >  Garden</div>
                <div style="position:absolute; width:120px; left:3px;  top:220px;" >  <button id="Zone_G_GarRoom"   v-on:click="clickZoneStatus('Zone_G_GarRoom')">  {{zone_lookup_hc2name('Zone_G_GarRoom').zonestatus}}     </button>    </div>
                <div style="position:absolute; width:120px; left:118px; top:220px;" >  Garden Room </div>
                <div style="position:absolute; width:120px; left:3px;  top:260px;" >  <button id="Zone_G_GarBath"   V-on:click="clickZoneStatus('Zone_G_GarBath')">  {{zone_lookup_hc2name('Zone_G_GarBath').zonestatus}}     </button>    </div>
                <div style="position:absolute; width:120px; left:118px; top:260px;" >  Garden Bath </div>
            </div>
        </div> 
    </template>



    <!-- ****************** USER SELECTION - LIGHTING GROUPS ****************** -->
    <template id = "lighting group and preset light level shortcuts" >
        <div class="input-card" style="position:absolute; width:310px; height:450px; left:330px;  top:560px; "> 
            <div class="card-body" 
                style="position:absolute; width:260px; left:90px;  top:-5px; font-size: 100%; color: white;">Lighting Groups
                <div style="position:absolute; width:150px; left:-70px; top:58px;" >   <button v-on:click="clickLightGroup('Kit All')">          Kit All       </button>     </div>
                <div style="position:absolute; width:150px; left:-70px; top:98px;" >   <button v-on:click="clickLightGroup('Kit Spot All')">     K.Spot All    </button>     </div>
                <div style="position:absolute; width:150px; left:-70px; top:138px;" >   <button v-on:click="clickLightGroup('Kit High RGBW')">    K.High RGB    </button>     </div>
                <div style="position:absolute; width:150px; left:-70px; top:178px;" >   <button v-on:click="clickLightGroup('Kit Low RGBW')">     K.Low RGB     </button>     </div>

                <div style="position:absolute; width:150px; left:75px; top:58px;" >   <button v-on:click="clickLightGroup('Garden All')">       Garden All    </button>     </div>
                <div style="position:absolute; width:150px; left:75px; top:98px;" >   <button v-on:click="clickLightGroup('Garden Room All')">  G.Room All    </button>     </div>
                <div style="position:absolute; width:150px; left:75px; top:138px;" >   <button v-on:click="clickLightGroup('Ground High RGBW')"> Gnd.HighRGB   </button>     </div>
                <div style="position:absolute; width:150px; left:75px; top:178px;" >   <button v-on:click="clickLightGroup('Ground Low RGBW')">  Gnd.LowRGB    </button>     </div>
                <!-- ****************** USER INPUT - LIGHTING SCENES ****************** -->
            </div> 
            <div class="card-body" 
                style="position:absolute; width:260px; left:75px;  top:220px; font-size: 100%; color: white;">Lighting Scenes
                <div style="position:absolute; width:150px; left:-55px; top:58px;" >   <button v-on:click="clickLightScene('TV Low')">       TV Low         </button>     </div>
                <div style="position:absolute; width:150px; left:-55px; top:98px;" >   <button v-on:click="clickLightScene('TV Medium')">    TV Medium      </button>     </div>
                <div style="position:absolute; width:150px; left:-55px; top:138px;" >   <button v-on:click="clickLightScene('Relaxing')">    -       </button>     </div>
                <div style="position:absolute; width:150px; left:-55px; top:178px;" >   <button v-on:click="clickLightScene('')">               -           </button>     </div>

                <div style="position:absolute; width:150px; left:90px; top:58px;" >   <button v-on:click="clickLightScene('Dining')">        Dining         </button>     </div>
                <div style="position:absolute; width:150px; left:90px; top:98px;" >   <button v-on:click="clickLightScene('Dinner')">        Dinner         </button>     </div>
                <div style="position:absolute; width:150px; left:90px; top:138px;" >   <button v-on:click="clickLightScene('Cooking')">      Cooking        </button>     </div>
                <div style="position:absolute; width:150px; left:90px; top:178px;" >   <button v-on:click="clickLightScene('Party')">        -          </button>     </div>
            </div> 
        </div> 
    </template>



        
    <!-- ****************** USER INTERFACE - LIGHTING CONTROL ****************** -->
    <template id = "lighting control" >
        <div class="input-card"    style="position:absolute; width:310px; height:490px; left:680px;  top:560px;"> 
            <div class="card-body" style="position:absolute; width:260px; left:75px; top:-5px; font-size: 100%; color: white;"> Lighting Control </div>

            <div          style="position:absolute; width:250px; left:25px; top:50px; "><label>Light:</label></div>
            <div          style="position:absolute; width:250px; left:25px; top:83px;"><label>Brightness:</label></div>
            <div          style="position:absolute; width:250px; left:73px; top:50px; font-size: 100%; color: white;"><label id="circuit_name">{{ input_circuit }}</label></div>
            <div          style="position:absolute; width:250px; left:143px; top:83px; font-size: 100%; color: white;"><label>{{ input_brightness }}</label></div>
            <b-form-input style="position:absolute; width:250px; left:24px; top:120px;" lazy v-on:change="sliderChange(input_brightness)" id="range-10" v-model="input_brightness" type="range" min="0" max="100"></b-form-input>
            <!-- ****************** USER INTERFACE - SLIDER ****************** -->

            <!-- ****************** USER INTERFACE - BRIGHTNESS BUTTONS ****************** -->
            <div style="position:absolute; width:60px; left:15px; top:160px;" >   <button v-on:click="sliderChange(0)">Off</button></div>
            <div style="position:absolute; width:60px; left:73px; top:160px;" >   <button v-on:click="sliderChange(5)">5</button></div>
            <div style="position:absolute; width:60px; left:131px; top:160px;" >   <button v-on:click="sliderChange('10')">10</button></div>
            <div style="position:absolute; width:60px; left:189px; top:160px;" >   <button v-on:click="sliderChange('25')">25</button></div>
            <div style="position:absolute; width:60px; left:247px; top:160px;" >   <button v-on:click="sliderChange('40')">40</button></div>
            <div style="position:absolute; width:60px; left:15px; top:202px;" >   <button v-on:click="sliderChange('50')">50</button></div>
            <div style="position:absolute; width:60px; left:73px; top:202px;" >   <button v-on:click="sliderChange('60')">60</button></div>
            <div style="position:absolute; width:60px; left:131px; top:202px;" >   <button v-on:click="sliderChange('75')">75</button></div>
            <div style="position:absolute; width:60px; left:189px; top:202px;" >   <button v-on:click="sliderChange('90')">90</button></div>
            <div style="position:absolute; width:60px; left:247px; top:202px;" >   <button v-on:click="sliderChange('99')">99</button></div>

            <!-- ****************** USER INTERFACE - COLOUR INPUT ****************** -->
            <transition name="fade"> <div v-if="colour_picker_hide" id="hide"> <input style="position:absolute; width:250px; left:29px; top:260px;" @change="colourChange(input_colour)" v-model="input_colour" type="color"></div> </transition>
            <transition name="fade"> <div v-if="colour_picker_hide" id="hide" style="position:absolute; width:60px; left:15px; top:315px;"><button class="c-button" style="background-color:#02fae1; color:#02fae1;"v-on:click="colourChange('#02fae1')">clr</button></div> </transition>
            <transition name="fade"> <div v-if="colour_picker_hide" id="hide" style="position:absolute; width:60px; left:73px; top:315px;"><button class="c-button" style="background-color:#02e1fa; color:#02e1fa;"v-on:click="colourChange('#02e1fa')">clr</button></div> </transition>
            <transition name="fade"> <div v-if="colour_picker_hide" id="hide" style="position:absolute; width:60px; left:131px; top:315px;"><button class="c-button" style="background-color:#02b8fa; color:#02b8fa;"v-on:click="colourChange('#02b8fa')">clr</button></div> </transition>
            <transition name="fade"> <div v-if="colour_picker_hide" id="hide" style="position:absolute; width:60px; left:189px; top:315px;"><button class="c-button" style="background-color:#0286fa; color:#0286fa;"v-on:click="colourChange('#0286fa')">clr</button></div> </transition>
            <transition name="fade"> <div v-if="colour_picker_hide" id="hide" style="position:absolute; width:60px; left:247px; top:315px;"><button class="c-button" style="background-color:#0213fa; color:#0213fa;"v-on:click="colourChange('#0213fa')">clr</button></div> </transition>

            <transition name="fade"> <div v-if="colour_picker_hide" id="hide" style="position:absolute; width:60px; left:15px; top:359px;"><button class="c-button" style="background-color:#fa028f; color:#fa028f;"v-on:click="colourChange('#fa028f')">clr</button></div> </transition>
            <transition name="fade"> <div v-if="colour_picker_hide" id="hide" style="position:absolute; width:60px; left:73px; top:359px;"><button class="c-button" style="background-color:#e102fa; color:#e102fa;"v-on:click="colourChange('#e102fa')">clr</button></div> </transition>
            <transition name="fade"> <div v-if="colour_picker_hide" id="hide" style="position:absolute; width:60px; left:131px; top:359px;"><button class="c-button" style="background-color:#a702fa; color:#a702fa;"v-on:click="colourChange('#a702fa')">clr</button></div> </transition>
            <transition name="fade"> <div v-if="colour_picker_hide" id="hide" style="position:absolute; width:60px; left:189px; top:359px;"><button class="c-button" style="background-color:#8c08ff; color:#8c08ff;"v-on:click="colourChange('#8c08ff')">clr</button></div> </transition>
            <transition name="fade"> <div v-if="colour_picker_hide" id="hide" style="position:absolute; width:60px; left:247px; top:359px;"><button class="c-button" style="background-color:#4c02fa; color:#4c02fa;"v-on:click="colourChange('#4c02fa')">clr</button></div> </transition>

            <transition name="fade"> <div v-if="colour_picker_hide" id="hide" style="position:absolute; width:60px; left:15px; top:403px;"><button class="c-button" style="background-color:#ff0000; color:#ff0000;"v-on:click="colourChange('#ff0000')">clr</button></div> </transition>
            <transition name="fade"> <div v-if="colour_picker_hide" id="hide" style="position:absolute; width:60px; left:73px; top:403px;"><button class="c-button" style="background-color:#fa5502; color:#fa5502;"v-on:click="colourChange('#fa5502')">clr</button></div> </transition>
            <transition name="fade"> <div v-if="colour_picker_hide" id="hide" style="position:absolute; width:60px; left:131px; top:403px;"><button class="c-button" style="background-color:#fa8a02; color:#fa8a02;"v-on:click="colourChange('#fa8a02')">clr</button></div> </transition>
            <transition name="fade"> <div v-if="colour_picker_hide" id="hide" style="position:absolute; width:60px; left:189px; top:403px;"><button class="c-button" style="background-color:#fab002; color:#fab002;"v-on:click="colourChange('#fab002')">clr</button></div> </transition>
            <transition name="fade"> <div v-if="colour_picker_hide" id="hide" style="position:absolute; width:60px; left:247px; top:403px;"><button class="c-button" style="background-color:#fad502; color:#fad502;"v-on:click="colourChange('#fad502')">clr</button></div> </transition>

            <transition name="fade">             <div v-if="colour_picker_hide" id="hide" style="position:absolute; width:180px; left:152px; top:451px;"><button class="c-button" style="background-color:#f7c743; font-size:90%; color:#333333;"v-on:click="colourChange('warm')">Warm White</button></div> </transition>
            <transition name="fade"> <div v-if="colour_picker_hide" id="hide" style="position:absolute; width:150px; left:15px; top:451px;"><button class="c-button" style="background-color:#ffffff; font-size:85%; color:#4d4d4d;"v-on:click="colourChange('#ffffff')">Cold White</button></div> </transition>

        </div> 
    </template>


   <!-- ****************** USER INTERFACE - AUDIO CONTROL ****************** -->
   <template id = "audio control" >
        <div class="input-card"    style="position:absolute; width:850px; height:490px; left:1030px;  top:560px;"> 
            <div class="card-body" style="position:absolute; width:260px; left:360px; top:-5px; font-size: 100%; color: white;"> Audio Control </div>

            <!-- ****************** GROUP ****************** -->
            <div style="position:absolute; width:250px; left:25px; top:115px;"> <label>Track</label></div>
            <div style="position:absolute; width:80px; left:120px; top:65px;" > <button class="fa fa-chevron-left" aria-hidden="false"  ></button></div>
            <div style="position:absolute; width:80px; left:210px; top:65px;" > <button class="fa fa-pause" aria-hidden="false"  ></button></div>
            <div style="position:absolute; width:80px; left:300px; top:65px;" > <button class="fa fa-chevron-right" aria-hidden="false"  ></button></div>
            <b-form-input style="position:absolute; width:255px; left:115px; top:115px;" lazy v-on:change="sliderChange(input_brightness)" id="range-10" v-model="input_brightness" type="range" min="0" max="100"></b-form-input>

            <!-- ****************** VOLUME ****************** -->
            <div          style="position:absolute; width:240px; left:115px; top:169px;"> <label>Group</label></div>
            <b-form-input style="position:absolute; width:180px; left:175px; top:169px;" lazy v-on:change="sliderChange(input_brightness)" id="range-10" v-model="input_brightness" type="range" min="0" max="100"></b-form-input>
            <div          style="position:absolute; width:80px;  left:375px; top:169px;"> <button class="fa fa-volume-up" aria-hidden="false"  ></button></div>

            <div          style="position:absolute; width:90px;  left:20px;  top:215px;"> <button>Group</button></div>
            <div          style="position:absolute; width:240px; left:115px; top:219px;"> <label>K.Wall</label></div>
            <b-form-input style="position:absolute; width:180px; left:175px; top:219px;"  lazy v-on:change="sliderChange(input_brightness)" id="range-10" v-model="input_brightness" type="range" min="0" max="100"></b-form-input>
            <div          style="position:absolute; width:90px;  left:20px;  top:215px;"> <button>Group</button></div>
            <div          style="position:absolute; width:80px;  left:375px; top:219px;"> <button class="fa fa-volume-up" aria-hidden="false"  ></button></div>

            <div          style="position:absolute; width:90px;  left:20px;  top:265px;"> <button>Single</button></div>
            <div          style="position:absolute; width:240px; left:115px; top:269px;"> <label>K.TV</label></div>
            <b-form-input style="position:absolute; width:180px; left:175px; top:269px;" lazy v-on:change="sliderChange(input_brightness)" id="range-10" v-model="input_brightness" type="range" min="0" max="100"></b-form-input>
            <div          style="position:absolute; width:80px;  left:375px; top:269px;"> <button class="fa fa-volume-up" aria-hidden="false"  ></button></div>
            
            <div          style="position:absolute; width:90px;  left:20px;  top:315px;"> <button>Single</button></div>
            <div          style="position:absolute; width:240px; left:115px; top:319px;"> <label>K.WC</label></div>
            <b-form-input style="position:absolute; width:180px; left:175px; top:319px;" lazy v-on:change="sliderChange(input_brightness)" id="range-10" v-model="input_brightness" type="range" min="0" max="100"></b-form-input>
            <div          style="position:absolute; width:80px;  left:375px; top:319px;"> <button class="fa fa-volume-off" aria-hidden="false"  ></button></div>

            <div          style="position:absolute; width:90px;  left:20px;  top:365px;"> <button>Single</button></div>
            <div          style="position:absolute; width:240px; left:115px; top:369px;"> <label>Gdn</label></div>
            <b-form-input style="position:absolute; width:180px; left:175px; top:369px;" lazy v-on:change="sliderChange(input_brightness)" id="range-10" v-model="input_brightness" type="range" min="0" max="100"></b-form-input>
            <div          style="position:absolute; width:80px;  left:375px; top:369px;"> <button class="fa fa-volume-up" aria-hidden="false"  ></button></div>

            <div          style="position:absolute; width:90px;  left:20px;  top:415px;"> <button>Single</button></div>
            <div          style="position:absolute; width:240px; left:115px; top:419px;"> <label>GRm</label></div>
            <b-form-input style="position:absolute; width:180px; left:175px; top:419px;" lazy v-on:change="sliderChange(input_brightness)" id="range-10" v-model="input_brightness" type="range" min="0" max="100"></b-form-input>
            <div          style="position:absolute; width:80px;  left:375px; top:419px;"> <button class="fa fa-volume-off" aria-hidden="false"  ></button></div>

            
            </div> 
        </div> 
    </template>

    </b-container>
    

    <!--
              <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>

    -->



    <!-- These MUST be in the right order. Note no leading / -->
    <!-- REQUIRED: Socket.IO is loaded only once for all instances
    Without this, you don't get a websocket connection -->
    <script src="../uibuilder/vendor/socket.io/socket.io.js"></script>

    <!-- Vendor Libraries - Load in the right order -->
    <script src="../uibuilder/vendor/vue/dist/vue.js"></script> <!-- dev version with component compiler -->
    <!-- <script src="../uibuilder/vendor/vue/dist/vue.min.js"></script>   prod version with component compiler -->
    <!-- <script src="../uibuilder/vendor/vue/dist/vue.runtime.min.js"></script>   prod version without component compiler -->
    <script src="../uibuilder/vendor/bootstrap-vue/dist/bootstrap-vue.js"></script>
    

    <!-- REQUIRED: Sets up Socket listeners and the msg object -->
    <!-- <script src="./uibuilderfe.js"></script>   //dev version -->
    <script src="./uibuilderfe.min.js"></script> <!--    //prod version -->
    <!-- OPTIONAL: You probably want this. Put your custom code here -->
    <script src="./index.js"></script>

    
</body>

</html>


